body, h1, p {
    font-family: 'Roboto', sans-serif;
}

p {
    padding-top: 10px;
}

.myHeader {
    width: 100%;
    height: 80px;
    top: 0;
    padding: 15px;
    color: white;
    background-color: #283593;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.myHeader h1 {
    text-align: center;
}

input {
    text-align: center;
}

.padTop {
    padding-top: 20px;
}

.marginTop {
    margin-top: 15px;
}

.score {
    font-size: 20px;
}

.schema {
    background-color: coral;
}

.border {
    border: 1px solid black;
}

.topBorder {
    border-top: 1px solid black;
}

.specialBorder {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
